{% extends "layout.html" %}
{%block content%}

        <h3>Members of {{group['name']}} group:</h3>
        {% for member in group['members'] %}
        <li>{{member}}
              <a href= {{url_for('remove_user', member=member, groupname=group['name'])}}>remove</a></li>
   {%endfor%}
</ul>
    <h3>Users not in {{group['name']}} group:</h3>
    {% for member in users_list %}
    {%if not member['name'] in group['members']%}
    <li>{{member['name']}}
          <a href= {{url_for('add_new_member', new_member=member['name'], groupname=group['name'])}}>Add user to group</a></li>
    {%else%}
          {%endif%}
          {%endfor%}
    <h5><a href= {{url_for('group_info', groupname=group['name'])}}>back to info
        </a></h5>
{%endblock%}