<html>
    {%extends 'layout.html'%}

    {%block content%}
    <!--basic group information-->

        <header>
            <h1>This is {{group['name']}} group.</h1>
        </header>
        
    <div class= "container">
    <h4>size: {{group['size']}}</h4>
    <h4>Members: {{group['members']}}</h4>
<div class = 'debts'>
    <div class = container>
        <h4> debts between group's users: </h4>
    </div>
    <!--this section shows all debts of group members-->
    {%for debt in group_debts%}<ul>
        {%if debt['balance'] == 0 %}  
            {{debt['left']}} and {{debt['right']}} are settled up
        {%elif debt['balance'] < 0 %} 
            {{debt['left']}} owes {{debt['right']}} {{debt['balance']|abs}}$  
        {%else%}
            {{debt['right']}} owes {{debt['left']}} {{debt['balance']}}$  
        {%endif%}
        {% if debt['balance'] != 0 %}
            <form method = "POST", action = {{url_for('settle_up', debtor = debt['right'], creditor = debt['left'])}}>
            <input type="hidden", name="destination", value={{"/groups_page/%s" %(group['name'])}}>
            <input type="hidden", name="groupname", value={{group['name']}}>
            <input type= 'submit', name='settle_up', value = "Settle up"></form>
        {%endif%}</ul>
    {%endfor%}
</div>

<!--group expenses history-->
    <h4>Group history:</h4>
    <div class= 'history'>
    {%for event in group_history%}
        <ul>
            {%if event['group'] == group['name']%}
                {%if event['type'] == 'expense'%}
                    {{event['debtor']}} paid {{event['creditor']}} {{event['amount']}}$
                {%elif event['type'] == 'settle_up'%}
                    {{event['debtor']}} and {{event['creditor']}} settled up ({{event['amount']|abs}}$)
               {%endif%}
            {%endif%}
        </ul>
    {%endfor%}
</div>


    <h5>
        <a href= {{url_for('edit_group_members', groupname = group['name'])}}>Edit members</a> | 
        <a href={{url_for('new_expense_get', groupname = group['name'])}}>New expense</a></h5>
<h5><a href='/groups_page/'>Back</a></h5></ul>
</div>
    {%endblock%}
</html>