
{%extends 'layout.html'%}



 {%block content%}
 <div class= "container">
  <header>
    <h1>Welcome to MezuMan!</h1>
  </header>
 </div>
     <!-- This section shows what you can do with MezuMan -->
        <div class="row">
          <div class="column">
            Travel
            <img src="/static/images/travel.jpg" alt="plane" height="200">
          </div>
          <div class="column">
            Settle up with flatmates
            <img src='/static/images/settleup.jpeg' alt= "Flatmates" height="200">
          </div>
        </div>
        <div class="row">
          <div class="column">
            Pass the time 
            <img src="https://s3.amazonaws.com/walrus-assets/img/Kingwell_Boredom-e1562811472249.jpg" alt="Bored" height="200">
          </div>
            Live life
          <div class="column">
            <img src="/static/images/live.jpg" alt="snowboard" height="200">
          </div>
        </div>
        
    {%endblock content%}

</html>