   <!DOCTYPE html>
    <html>
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/mainpage.css')}}">
        {% if title %}
        <title>MezuMan - {{title}}</title>
        {% else %}
        <title>MezuMan</title>
        {%endif%}

      </head>
      <body>
    
        <div class="sidenav">
          <p>MezuMan</p>
          <a href="/">Home</a>
          <a href="/users_page/">Users menu</a>
          <div class="sub">
              <a href="/add_user/">New user</a>
          </div>
          <a href="/groups_page/">Groups menu</a>
          <div class="sub">
              <a href="/add_group/">New group</a>
          </div>
          <a href="/meet_oded/">Meet Oded</a>

        </div>
          
        <div class= "flashed_messages">
          {% with messages = get_flashed_messages() %}
            {%if messages %}
              {% for message in messages %}
                <ul>{{ message }}</ul>
              {% endfor %}
            {% endif %}
          {% endwith %} 
        </div>

        <div class= 'unique'>
            {% block content %}{% endblock %}
        </div>

        <footer>
          Developed by Oded Rinsky
        </footer>
      </body>
    </html>
  