<html>
{%extends 'layout.html'%}
{%block content%}
<div class="w3-row-padding w3-grayscale">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <img src="/src/images/me.jpg" alt="Oded" style="width:100%">
          <h3>Oded Rinsky</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>3rd year BSc student of electronic engineering and independent liscensed tour guide</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
{%endblock%}</html>