<html>
{%extends 'layout.html'%}
{%block content%}
        <div class='container'>
          <div class = 'field'>
          <fieldset>
          <h3>Oded Rinsky</h3>
          <p>Creator of MezuMan</p>
          <p>3rd year BSc student of electronic engineering and independent liscensed tour guide</p>
          <p><a href= 'https://www.linkedin.com/in/oded-rinsky-63b877123/', target="_blank">Linkedin profile</a></p>
          <p>Email: odedrin@gmail.com</p>
          <img src="/static/images/me.PNG" alt="Oded" style="width:25%">
        </fieldset></div>
{%endblock%}</html>