<!DOCTYPE html>
<html>
    {%extends 'layout.html'%}
{%block content%}
<div class = 'container'>
<form class='myForm' method='POST'>

<p>
<label>Amount payed
<input type='number' name='amount' required> 
</label> 
</p>
<p>

<label>Enter a description
<input type='text' name='description', placeholder='e.g train tickets'>
</label> 
</p>

<fieldset>
<legend>Who payed?</legend>
{%for member in group['members']%}
<p><label class='choice'> <input type='radio' name='creditorname', value= {{member}} required> {{member}}</label></p>
{%endfor%}
</fieldset>

<fieldset>
<legend>who to include in the exspense</legend>
{%for member in group['members']%}
<p><label class='choice'> <input type='checkbox', name='debtors', value= {{member}} checked> {{member}} </label></p>
{%endfor%}
</fieldset>

<p><button>Submit expense</button></p>

</form>
<h5><a href= {{url_for('group_info', groupname=group['name'])}}>back to group info
    </a></h5>
</div>
{%endblock%}
</html>