<html>
    {%extends 'layout.html'%}

    {%block content%}
    <!--basic user information-->
<h1>This is {{user['name']}}.</h1>
<h4>balance: {{user['balance']}}</h4>
<h4>Groups: {{user['groups']}}</h4>
<!--this section shows all of user's debts-->
<h4> user's debts: </h4>
{%for debt in debtscl.find()%}<ul>
{%if user_in_debt(user['name'], debt['_id'])%}
{{show_debt(debt['_id'])}}{%if debt['balance'] != 0 %} <a href={{url_for('settle_up', creditor = debt['left'], debtor = debt['right'])}}>settle up</a>
{%endif%}
{%endif%}
</ul>
{%endfor%}

<!--user expenses history-->
<h4>User history:</h4>
{%for event in historycl.find()%}<ul>
    {%if event['debtor'] == user['name'] or event['creditor'] == user['name']%}
    {{show_event(event)}}
    {%endif%}</ul>
    {%endfor%}


<ul><h5>Edit</h5>
<h5><a href='/users/'>Back</a></h5></ul>
    {%endblock%}
</html>
